{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <header>
        <div class="logo-title">
            <img src="{{ url_for('static', filename='images/parked.png') }}" alt="Parked." class="dashboard-icon">
            <h1>{{ role.capitalize() }} Dashboard</h1>
        </div>
        <nav>
            {% if role == 'admin' %}
                <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                <a href="{{ url_for('admin.view_users') }}">Users</a>
                <a href="{{ url_for('admin.parking_summary') }}">Summary</a>
            {% else %}
                <a href="{{ url_for('user.dashboard') }}">Dashboard</a>
                <a href="{{ url_for('user.my_reservations') }}">My Reservations</a>
                <a href="{{url_for('user.booking_summary')}}">Summary</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </nav>
    </header>
    <main>
        {% block main_dashboard %}
        {% endblock %}
    </main>
{% endblock %}