<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome | Choose Role</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

        <div class="logo-center">
            <img src="{{ url_for('static', filename='images/parked.png') }}" alt="Parked.">
        </div>

        <h1>Select Your Role</h1>

        <div class="role-options">
            <a href="/auth/login/admin" class="option">Admin</a>
            <a href="/auth/login/user" class="option">User</a>
        </div>

    </body>
</html>
